.container {
  margin: 30px auto;
  width: 80%;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
}

.name {
  position: absolute;
  margin: 10px 0 0 10px;
  font-weight: 800;
}

.info_container {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 20px;
  border: solid 1px black;
  border-radius: 10px;
  margin-left: 30px;
}

.info_input {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 20px;
  border: solid 1px black;
  border-radius: 10px;
}

.edit_container {
  text-align: center;
  align-items: center;
  margin-top: 3rem;
}

.text_name {
  margin-bottom: 30px;
  color: rgb(28, 56, 111);
  font-weight: 800;
}

.text_age {
  color: rgb(28, 56, 111);
  font-weight: 800;
}
div.text {
  margin-top: 50px;
}
